*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
      yellow,
      yellow 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(cyan, cyan 50%, transparent 50%, transparent 100%),
    radial-gradient(magenta, magenta 40%, transparent 40%, transparent 100%),
    floralwhite;
  background-size: 8em 8em, 6em 6em, 2em 2em;
  background-blend-mode: multiply;
  background-position: 0 0, -33% -33%, -200% -200%;
}
